.body {
	background-color: #000000;
	color: #ffffff;
	max-width: 900px;
	margin: auto;
	line-height: 1.8;
	font-family: monospace;
	font-size: larger;
	background-image:  swetanjay-web.github.io/B612_20210603_192805_689-e1622731446143.png;
}
