.body {
	background-color: #000000;
	color: #ffffff;
	max-width: 900px;
	margin: auto;
	line-height: 1.8;
	font-family: monospace;
	font-size: larger;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: luminosity;
}
