body {
	margin: 0px;
	display: flex;
	background-color: gray;
}
.left-bar {
	width: 25%;
	background-color: greenyellow;
	
	height: 100%;
}
.right-bar {
	width: 25%;
	background-color: greenyellow;
	
	height: 100%;
}
.middle-bar {
	
	width: 50%;
	height: 100%;
	

}